.nav_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

@media (max-width: 870px) {
    .nav_header {
        gap: 5px;
    }
}

@media (max-width: 550px) {
    .nav_header {
        flex-wrap: wrap;
    }
}

.button-logout,
.search {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    height: 70px;

    box-sizing: border-box;
    border: 1px solid;
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 800px) {
    .search {
        display: none;
    }
}