.nav__item_header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    height: 70px;

    box-sizing: border-box;
    border: 1px solid;
    font-size: 16px;
    font-weight: 700;

    background-color: #fff;
}

.nav__item_header .selected {
    color: #fff;
    background-color: #0000ff;
}