body {
    width: 100%;
    margin: 0px;
}
@media (min-width: 751px) {
    .LogInVindow {
        position: relative;
        top: 57px;
        left: 55px;
        height: 800px;
        margin: 0;
        max-width: 585px;
}

    .logInFormView {
        position: relative;
        display: grid;
        grid-template-rows: 40px 95px 43px 95px 75px 47px 43px;
        margin: 0;
    }

    .forgotPassLink {
        position: relative;
        font-size: 35px;
        margin-left: 202px;
        max-width: 270px;
        text-decoration: underline;
    }
}

@media (max-width: 750px) {
    .LogInVindow {
        position: relative;
        width: 100%;
        height: 800px;
        margin: auto;
        top: 57px;
        max-width: 585px;
    }

    .logInFormView {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-rows: 40px 95px 43px 95px 75px 47px 43px;
        margin: 0;
    }

    .forgotPassLink {
        position: relative;
        font-size: 30px;
        margin-left: 202px;
        max-width: 270px;
        text-decoration: underline;
    }
}

.Requirements {
    position: relative;
    width: 98%;
    background:  rgba(187, 187, 187, 1);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.Requirement {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: italic;
}

.input_container {
    position: relative;
}

.Log_In_text{
    font-size: 60px;
}

.Tel_text {
    font-size: 30px;
    display: flex;
    align-items: flex-end;
}

.Password_text {
    font-size: 30px;
    display: flex;
    align-items: flex-end;
}

.buttonRegSign {
    position: relative;
    width: 173px;
    height: 75px;
    margin-top: 50px;
    font-size: 35px;
    color: white;
    background-color: rgba(0, 5, 48, 1);
}

.buttonRegSign:disabled {
    background-color: rgb(122, 122, 122);
}

.buttonRegSign:hover {
    cursor: pointer;
}

.forgotPassLink:hover {
    cursor: pointer;
}

.logInLink {
    position: relative;
    max-width: 270px;
    font-size: 35px;
    top: 63px;
    color: white;
}

.logInLink:hover {
    cursor: pointer;
}

.showPass {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    bottom: 50%;
    left: 90%;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../assets/showPass.PNG');
}

.hidePass {
    position: relative;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 25px;
    bottom: 50%;
    left: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../assets/hidePass.PNG');
}

.accept {
    border: 5px solid green;
}