.carousel {
    display: none;
    padding: 6px 100px 41px 100px;
}

@media (max-width: 800px) {
    .carousel {
        padding: 6px 25px 41px 25px;
    }
}

.carousel__frame {
    margin: 0 auto;
    overflow: hidden;
}

.carousel__line {
    display: flex;
    align-items: center;
    position: relative;
    left: 0%;
    transition: all 1s;
    gap: 90px;
}

.carousel__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 300px;
    height: 300px;

    box-sizing: border-box;
    border: 1px solid #000;
    font-size: 40px;
}

.carousel__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 252px;

    margin: 32px;
}

@media (max-width: 800px) {
    .carousel__arrows {
        gap: 20px;
    }
}

.carousel__arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 70px;
    border: 1px solid #000;
    border-radius: 50%;

    font-size: 30px;
    cursor: pointer;
}