@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');
 * {
    font-family: 'Koh Santepheap';
    margin: 0px;
    padding: 0px;
}

.showHidePass {
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url('../../../assets/hidePass.PNG');
}