.empty__container {
    display: flex;
    flex-direction: column;
}

.empty__title {
    display: block;
}

.empty__subtitle {
    display: block;
}

.empty__link {
    display: block;
    text-decoration: underline;
    cursor: pointer;
}

.empty__link:hover {
    color: blue;
}