.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    box-sizing: border-box;

    padding: 45px 35px;
}

@media (max-width: 800px) {
    .footer {
        flex-direction: column;
        padding: 15px;
    }
}