.item_detail {
  margin: 0 auto;
  padding: 10px 20px;
  max-width: 600px;
}

.item_detail__img {
  max-width: 200px;
  height: 200px;
  margin: 0 auto;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.item_detail__name {
  margin: 20px 0;

  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.item_detail__desc{
  margin: 20px 0;

  text-align: center;
}

.item_detail__button {
  margin: 0 auto;
  display: block;
}

.item__basket.basket_selected {
  width: 70px;
  background: url(../../../../../assets/cart.png) left/auto 100% no-repeat, url(../../../../../assets/check.png) right/auto 100% no-repeat;
  transition: all 0.5s;
}